@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*==ШАПКА==*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 20px;
  background-color: #e8e8e8;
}

.foot {
  position: sticky;
  width: 100%;
  height: 100px;
  background-color: #4a8a7e;
  border-radius: 20px;
  top: 0;
  left: 0;
}
.foot__logo {
  position: relative;
  left: 20px;
  top: 40px;
  color: #fff;
  font-size: 25px;
}
.foot__nav {
  text-align: center;
}
.foot__btn {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 10px;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #33a18d;
}

.foot__btn:hover{
  box-shadow: 5px 5px 7px;
}

/*==ТЕЛО ГЛ СТРАНИЦЫ==*/
.body{
  background-color: #c3c9c8;
  margin: 20px 20px 0 10px;
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}
.body__hello {
  font-size: 35px;
  text-align: center;
  padding: 20px 0 0 0;
  color: #4b4d3f;
  font-weight: 700;
}
.body__info {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #0c594b;
  font-size: 20px;
  color: #fff;
}
.body__desc {

}
.body__par1 {
  text-align: center;
  font-size: 30px;
}
.body__par2 {
  padding: 20px 0;
}
.body__advan {
  background-color: #1a8773;
  border-radius: 20px;
}
.body__advan span {
  margin: 20px;
  text-align: left;
  color: #ecf76f;
}
.body__advan-list {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

.body__job {
  width: 100%;
  padding: 30px;
  font-size: 20px;
  line-height: 40px;
}
.body__heading {
  font-size: 30px;
  font-weight: 700;
}
.body__job-list {
  padding: 30px;
}
.body__job-list a{
  color: #b8781a;
  font-weight: 700;
  text-transform: uppercase;
}
.body-list {}
.body-list li::first-letter{
  font-size: 40px;
  color: #94151d;
}
/*==ТЕЛО Контакты==*/
.body-contacs {
  background-color: #c3c9c8;
  margin: 20px 20px 0 10px;
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}
.body-contacs__block{
  margin: 40px;
  background-color: #29609e;
  border-radius: 20px;
  color: #fff;
}
.body-contacs__data {
  padding: 20px;
  font-size: 30px;
  word-spacing: 5px;
  line-height: 50px;
  text-align: center;
}
.body-contacs__phone {
  background-color: #6da9ed;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  box-shadow: 5px 5px 7px;
}

/*==ТЕЛО Каталога==*/
.body-shop{
  background-color: #c3c9c8;
  margin: 20px 20px 0 10px;
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}
.body-shop__info{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.body-shop__info p{
  text-align: center;
  font-weight: 700;
}


.body-shop__info span{
  padding: 10px;
  text-shadow: 1px 1px 1px #000;
  word-spacing: 10px;
  line-height: 30px;
  color: #58615f;
}

.body-shop__product {
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.body-shop__product-box {
  border-radius: 20px;
  background-color: #773ac7;
  padding: 30px;
  margin: 20px;
  color: #fff;
}
.body-shop__product-desc {}
.body-shop__product-box img {
  width: 200px;
  height: 150px;
  justify-content: center;
}
.body-shop__product-box h3 {
  margin: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.body-shop__product-box span{
  display: inline-block;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
}
.body-shop__details{
  display: inline-block;
  font-size: 20px;
  background-color: #e0abed;
  border-radius: 10px;
  padding: 10px;
  color: #63436b;
}
.body-shop__details:hover{
  background-color: #63436b;
  color: #e0abed; 
}


.sizes__box-flex{
  display: flex;
  justify-content: space-evenly;
}
.sizes h2{
  font-size: 40px;
  text-align: center;
}
.flex-box{
  font-size: 18px;
  line-height: 35px;
  padding: 30px 20px;
}
.name{
  border-bottom: 1px solid #000;
  display: block;
  font-size: 20px;
  text-align: center;
}


@media(max-width: 712px){
  .foot{
    height: 200px;
  }
  .foot a{
    margin: 115px 6px;
  }
  .foot__nav{
    flex-direction:row;
  }
}
@media (max-width: 855px){
  .body-shop__info p{
    font-size: 30px;
  }

  .body-shop__info{
    font-size: 22px;
  }
  .name {
    font-size: 27px;
  }

}


@media(max-width: 1006px){
  .body-shop__size {
    padding: 0;
  }
}


@media (max-width: 375px){
  .body__job{
    font-size: 26px;
    line-height: 54px;
  }

  .body-list li::first-letter {
    font-size: 51px;
  }
  .body__hello {
    font-size: 43px;
  }
  .body__info{
    font-size: 25px;
  }
  .body__par1 {
    font-size: 49px;
  }
} 